
// Code
// ––––––––––––––––––––––––––––––––––––––––––––––––––

code {
	background: $color-tertiary;
	border-radius: .4rem;
	font-size: 86%;
	margin: 0 .2rem;
	padding: .2rem .5rem;
	white-space: nowrap;
	border-radius: .4rem;
	font-family: "Fira mono", monospace;
}

pre {
	background: #f5fbff;
	border-left: .3rem solid $color-primary;
	overflow-y: hidden;
	border-radius: 0.35rem;
	font-family: "Fira mono", monospace;
	padding: 1rem;
	font-size: 86%;

	& > code {
		border-radius: 0;
		display: block;
		padding: 1rem 1.5rem;
		white-space: pre;
	}
}
