<!doctype html>
<html lang="en">
<head>
    <title>Bolt - {% block title %}{% endblock %}</title>

    <!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Python, Python3, Discord, bot, framework, chat">
	<meta name="author" content="Patrick Hennessy">
    <meta name="generator" content="Lektor 3.1">
	<meta name="description" content="Mechanical chat enrichment associate for Discord">

    <!-- CSS -->
	<link rel="stylesheet" href="{{ '/static/milligram.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/static/solarized.css' | url }}">

    <!-- Icons -->
    <link rel="icon" href="{{ '/static/logo.png' | url }}">
</head>
<body>
	<header class="no-select">
        <a href="/" id="logo">
            <img id="logo" src="{{ '/static/logo.png' | url }}">
        </a>
		<h2 id="title">Bolt</h2>
		<h5 id="tagline" style="color: rgba(255,255,255,0.75)">Mechanical chat enrichment associate for Discord</h5>

		<a href="https://github.com/ns-phennessy/Bolt" class="icons" target="_blank">
			<svg id="github-icon" viewBox="0 0 32 32" height="100%">
				<path d="M16 0.395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182 0.8 0.148 1.094-0.347 1.094-0.77 0-0.381-0.015-1.642-0.022-2.979-4.452 0.968-5.391-1.888-5.391-1.888-0.728-1.849-1.776-2.341-1.776-2.341-1.452-0.993 0.11-0.973 0.11-0.973 1.606 0.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33 0.143-1.034 0.558-1.74 1.016-2.14-3.554-0.404-7.29-1.777-7.29-7.907 0-1.747 0.625-3.174 1.649-4.295-0.166-0.403-0.714-2.030 0.155-4.234 0 0 1.344-0.43 4.401 1.64 1.276-0.355 2.645-0.532 4.005-0.539 1.359 0.006 2.729 0.184 4.008 0.539 3.054-2.070 4.395-1.64 4.395-1.64 0.871 2.204 0.323 3.831 0.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895 0.574 0.497 1.085 1.47 1.085 2.963 0 2.141-0.019 3.864-0.019 4.391 0 0.426 0.288 0.925 1.099 0.768 6.354-2.118 10.933-8.113 10.933-15.18 0-8.837-7.164-16-16-16z"></path>
			</svg>
			<div>
                phennessy/Bolt<br>
                <span id="SOFTWARE_VERSION">v0.4.8</span>
			</div>
		</a>
	</header>

	<main>
		<nav class="no-select">
            {% set root = site.get('/') %}
            {% for child in root.children %}
                <h4 style="margin-bottom:1rem">{{ child.category }}</h4>
                <ul>
                {% for subchild in child.children %}
                    <li><a href="{{ subchild | url }}">{{ subchild.title }}</a></li>
                {% endfor %}
                </ul>
            {% endfor %}
		</nav>
        <section>
            {% block body %}{% endblock %}
        </section>

	</main>
	<footer>
		<hr>
		Bolt is open source software under the <a href="https://github.com/ns-phennessy/Bolt/blob/master/LICENSE.txt">MIT License</a>
        <br>
        &copy; Patrick Hennessy <em>2015 - 2019</em>
	</footer>

</body>
</html>
